.email-signup-container {
    background-color: white;
    margin: 0rem;
    margin-left: 1rem;
    min-height: 100%;
    

    .email-heading {
        font-size: large;
        text-align: left;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-weight: bold;
    }

    .signup-button{
        margin: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
        border-radius: 22px;
        height: 1rem;
        min-height: 0.5rem;
        
    }
    .dropdown{
        background-color: white;
        margin-left: 1rem;
        padding-left: 1rem;
        text-align: left;

        .bx--dropdown__wrapper{
            padding: 2rem 0 1rem 0;
        }

        .text-input-container{
            margin-top: 1rem;
            display: flex;
            padding: 1rem 0 1rem 0;
        }
        .text-input{
            width: 40%;
        }
        .box-title{
            margin-right: 4rem;
            margin-top: 2%;
            color:#525252;
        }
        .school-name-container{
            display: flex;
            flex-wrap: wrap;
        }
        .school{
            margin-bottom: 1rem;
            padding:1rem;
            border-radius: 30px;
            background: rgb(204, 229, 253);
            margin-left: 1rem;
        }
    }
    .bx--dropdown{
        background-color: #f4f4f4;
        border-radius: 12px;
        margin-left: 2rem;
    }
   
    .text-input{
        border-radius: 12px;
        border-bottom: 0ch;
        background-color: #f4f4f4;
        
        
    }

    .school-title{
        color:#525252;
    }
}