.header-container {
    width: 100%;

    .tabs-container {
        min-width: 100%;
        height: 3rem;
        background-color: white;
        display: flex;
        justify-content: space-evenly;

        .tab {
            color: black;
            font-family: "Alata";
            font-size: larger;
            padding: 1rem 3rem 1rem 3rem;
        }
        .tab:hover{
            color: black;
            background: rgb(228, 223, 223);
            font-family: "Alata";
            font-size: larger;
            padding: 1rem 3rem 1rem 3rem;
        }
    }

    .title-container {
        background-color:black;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color:white;
        font-family: "Alata";
        font-size: larger;

        .icon {
            height: 2rem;
            width: 2rem;
            margin-right: 2rem;
        }
    }
}