

.modal {

    .modal-heading{
        color: #161616;
        font-size: x-large;
        text-align: left;
        padding-bottom: 1rem;
    }

    .bx--modal-container {
        background-color: #fffefe;
    }

    .bx--modal-header__label{
        text-decoration-color: #525252;
    }

    .bx--modal-header__heading{
        text-decoration-color: #161616;
    }

    .bx--modal-close__icon{
        fill: #161616;
    }

    .bx--modal-content{
        padding-right: 1rem;
        padding-left: 1rem;
        margin-bottom: 1rem;
    }

    .bx--modal-header{
        margin: 0rem;
        padding-left: 0rem;
    }

    .bx--btn{
        margin: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
        border-radius: 22px;
        height: 1rem;
        min-height: 0.5rem;
    }
}
