.graph-container {
    background-color: white;
    margin: 0rem;
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;

    .graph-heading {
        font-size: large;
        text-align: left;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-weight: bold;
        display: flex;
    }

    #inline{
        width: 3rem;
        margin-left:none !important;
    }

    
    .bx--loading {
        margin-left: 35%;
        margin-top: 10%;
    }

    .recharts-wrapper {
        max-width: 90%;
        height: 100%;
        .recharts-surface {
            width: 100%;
        }
        .recharts-legend-wrapper{
            width: 90% !important;
            height: 10% !important;
        }
    }

   
   
}