.modal-table-container {
    background-color: white;
    
    .select-title{
        opacity: 0;
    }

    .bx--data-table-container {
        margin: 2;
        padding-bottom: 1%;
    }

    .bx--loading {
        margin-left: 37% !important;
        margin-top: 10%;
        margin-bottom: 10% !important;
    }
}