
.tableContainer {
    background-color: white;
    margin: 1rem;

    .table-title {
        font-size: large;
        align-items: self-end;
        display: flex;
        margin-left: 1rem;
        margin-top: 1rem;
        padding-top: 2rem;
        font-weight: bold;
    }
    .bx--data-table-container {
        margin: 1rem;
        padding-bottom: 1rem;
    }

    
    .bx--loading {
        margin-left: 45%;
        margin-top: 10%;
        margin-bottom: 15%;
    }

}