.table-container {
    background-color: white;

    svg.icon-risk2{
        margin-left: 1rem;
        //margin-bottom: -0.5rem;
    }
    
    .select-title{
        opacity: 0;
    }

    .bx--data-table-container {
        margin: 2;
        padding-bottom: 1%;
        svg.icon-risk2{
            margin-left: 1rem;
            //margin-bottom: -0.5rem;
        }
    }


    .table-title {
        font-size: large;
        align-items: self-end;
        display: flex;
        margin-left: 1rem;
        margin-top: 1rem;
        padding-top: 2rem;
        font-weight: bold;
    }
}