
.App {
  text-align: center;
  background-color: #f0f2f5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f0f2f5;
  padding-bottom: 5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
    .container-two{
      display: flex;
      flex-direction: row;

        .emailContainer{
          width: 50%;
        }

        .graphContainer{
          width: 50%;
          
        }

    }
}